.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


#login-form {
    display: flex;
    flex-direction: column;
}
.horizontal-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
    margin: 26px;
}

input[type="email"],
input[type="password"] {
    font-size: 25px;
    height: 30px;
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}
.heading{
    color: #699576;
font-family: Poppins;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.84px;
width: 478px;
height: 62px;
flex-shrink: 0;
margin-left: 34px;
}

.dividor{
    height: 680px;
}
.item1{
        margin-right: 20px;
}
.logbtn{
    border-radius: 22px;
    padding: 2px;
    width: 170px;
    margin-left: 173px;
    margin-top: -2px;
    height: 62px;
    color: #699576; 
    background-color: #BEDD9A;
font-family: Inter;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.forgot-password{
    text-decoration: none;
    color: #699576;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.62px;
width: 327px;
height: 52px;
flex-shrink: 0;
margin-left: 168px;
}

